<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="HipChatApiKey" value="e233b4c4d725b52f357f1d2b712989"></add>-->    
    <add key="HipChatApiKey" value="bc2a024215509ea3d36078837f1106"></add>
    <add key="HipChatApiUrl" value ="http://api.hipchat.com/v1/"/>
  </appSettings>
</configuration>