<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="RoomWatchers" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
 


  <RoomWatchers>
    <add key="RoomWatcher" value="IEchoProcessor"/>
    <add key="RoomWatcher" value="IEchoProcessor2"/>
  </RoomWatchers>
  
</configuration>